body {
  min-height: 100%;
  min-height: 100vh;
  height: auto;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(35,35,36);
background: linear-gradient(20deg, rgba(35,35,36,1) 0%, rgba(67,67,69,1) 100%);
}
textarea, input, button { outline: none; }

button {
	background: none;
  border: none;
  /* border: 1px solid #333; */
}
button:hover {
  
  -webkit-transition: color .3s ease, border-color .3s ease; /* Safari */
  transition: color .3s ease, border-color .3s ease;
}
button:active {
	position:relative;
	top:1px;
}

/* App */
.App {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

#app {
  position: relative;
}
.main {
  position: relative;
  z-index: 10;
}

/* Custom Fonts */
/* Cerebri */
@font-face {
  font-family: 'Cerebri';
  src: url('/public/fonts/Cerebri/CerebriSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri';
  src: url('/public/fonts/Cerebri/CerebriSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri';
  src: url('/public/fonts/Cerebri/CerebriSans-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri';
  src: url('/public/fonts/Cerebri/CerebriSans-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri';
  src: url('/public/fonts/Cerebri/CerebriSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist';
  font-weight: 700;
  font-style: normal;
  src: url('/public/fonts/geomanist/geomanist-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('/public/fonts/geomanist/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/geomanist/geomanist-black-webfont.woff') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/geomanist/geomanist-black-webfont.woff2') format('woff'), /* Pretty Modern Browsers */
       url('/public/fonts/geomanist/geomanist-black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/geomanist/geomanist-black-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Geomanist';
  font-weight: 600;
  font-style: normal;
  src: url('/public/fonts/geomanist/geomanist-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/public/fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/geomanist/geomanist-bold-webfont.woff') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/geomanist/geomanist-bold-webfont.woff2') format('woff'), /* Pretty Modern Browsers */
       url('/public/fonts/geomanist/geomanist-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/geomanist/geomanist-bold-webfont.svg') format('svg'); /* Legacy iOS */
}/* Prompts */
.prompt {
  max-width: 100%;
  margin: 0px auto 0px;
}
.prompt-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 267px;
  width: 267px;
  margin: auto;
}

.prompt-type-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: linear-gradient(20deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  border-radius: 31px;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: .5em;
  cursor: pointer;
  -webkit-transition: border-color .3s ease; /* Safari */
  transition: border-color .3s ease;
}
.prompt-type-button:hover {
  background: linear-gradient(20deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.prompt-type-button:hover span {
  color: #fafafa;
}
.prompt-type-button span {
  display: block;
  font-size: 18px;
  font-weight: lighter;
  -webkit-transition: color .3s ease; /* Safari */
  transition: color .3s ease;
  margin: auto;
}
.prompt-type-button svg {
  display: block;
  margin: auto;
}
.prompt-image-button:hover svg path {
  fill: #fafafa;
}

/* Image Prompts */
.image-prompt-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  block-size: 267px;
}
.prompt-image {
  position: relative;
  display: inline-block;
  width: auto;
  height: 267px;
  border-radius: 1px;
  background: none;
  -webkit-box-shadow: -10px 10px 40px rgba(50,50,50,.5);
          box-shadow: -10px 10px 40px rgba(50,50,50,.5);
  overflow: hidden;
}
.prompt-image img {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.prompt-image-credit {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  color: rgba(255,255,255,.6);
}
.prompt-image-credit p {
  margin: 0;
  font-size: 8px;
}
.prompt-image-credit a {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}
.jo-chasing-icons {
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
  -webkit-animation: jo-chasingIconsRotate 2s infinite linear;
          animation: jo-chasingIconsRotate 2s infinite linear; }
  .jo-chasing-icons .prompt-type-button.jo-chasing-icon {
    width: 30%;
    height: 30%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: jo-chasingIconsBounce 2s infinite ease-in-out;
            animation: jo-chasingIconsBounce 2s infinite ease-in-out; }
  .jo-chasing-icons .prompt-type-button.jo-chasing-icon.jo-icon-2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }

@-webkit-keyframes jo-chasingIconsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes jo-chasingIconsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes jo-chasingIconsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes jo-chasingIconsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.camera-icon svg path {
  -webkit-transition: fill .3s ease; /* Safari */
  transition: fill .3s ease;
}
.text-prompt {
  height: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.text-prompt h3 {
  font-size: 2.4em;
  font-weight: normal;
  margin: 0;
  color: rgba(255,255,255,1);
  font-family: 'Geomanist', sans-serif;
  font-weight: 500;
}
/* WritePage */
.write-page {
  position: relative;
  display: block;
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.write-textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 300px;
  min-height: 60vh;
  background: rgba(0,0,0,.3);
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: -20px 20px 80px rgba(0,0,0,.5);
          box-shadow: -20px 20px 80px rgba(0,0,0,.5);
  margin: 20px auto 40px;
  padding: 40px 30px 40px 35px;
  color: rgba(255,255,255,.98);
  font-size: 1.5em;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  resize: none;
}
button.save-prompt {
  display: block;
  margin: 10px auto;
}

@media screen and (max-width: 767px) {
  .write-textarea { 
    padding: 15px 20px 20px 15px;
    font-size: 1.4em;
  }
  .write-page {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.about {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 60px;
}/* Nav */
#main-nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0%;
  z-index: 0;
  height: 100%;
  height: 100vh;
  max-height: 100vh;
  width: 350px;
  padding: 80px 20px 60px;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity .3s ease-in-out; /* Safari */
  transition: opacity .3s ease-in-out;
  overflow: hidden;
  background: rgb(63,94,251);
background: linear-gradient(20deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  -webkit-box-shadow: 2px 0px 30px rgba(0,0,0,.3);
          box-shadow: 2px 0px 30px rgba(0,0,0,.3);
}
#main-nav.initialized {
  animation-duration: 0.4s;
  animation-name: fade-out-left;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fade-out-left;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  opacity: 1;
}
#main-nav.front {
  z-index: 30;
}
#main-nav.toggled {
  animation-duration: 0.4s;
  animation-name: fade-in-right-full;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fade-in-right-full;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  opacity: 1;
}
@-webkit-keyframes fade-out-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes fade-out-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right-full {
  from {
    opacity: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right-full {
  from {
    opacity: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.main-nav ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.main-nav ul li {
  font-size: 3em;
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.main-nav ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.main-nav ul li.active {
  color: rgba(255,255,255,1);
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #main-nav {
    width: 45%;
  }
  .main-nav ul li {
    font-size: 4em;
  }
}
@media screen and (max-width: 600px) {
  #main-nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-nav ul li {
    font-size: 3em;
  }
}/* Header */

#header {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px;
  color: rgba(255,255,255,.7);
  z-index: 30;
}
#header a.site-title {
  position: relative;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}
#header a.site-title h1 {
  float: right;
  display: inline;
  color: rgba(255,255,255,.7);
  font-family: 'Geomanist', sans-serif;
  font-weight: 500;
  margin: 0;
  -webkit-transition: color .3s ease; /* Safari */
  transition: color .3s ease;
}
#header a.site-title:hover h1 {
  color: rgba(255,255,255,.9);
}
/* Menu Toggle */
button#nav-icon {
  border: none;
}
button#nav-icon:hover {
  border: none;
  color: none;
}
#nav-icon {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon:hover span {
  -webkit-box-shadow: -1px 1px 5px rgba(255,255,255,.3);
          box-shadow: -1px 1px 5px rgba(255,255,255,.3);
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 2px;
  width: 40px;
  background: rgba(255,255,255,.95);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 16px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 32px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.toggled span {
  width: 45px;
  width: 44.5px;
}

#nav-icon.toggled span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#nav-icon.toggled span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.toggled span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 32px;
  left: 0px;
}

/*# sourceMappingURL=main.css.map*/